<!DOCTYPE html>
<html>
  <head>
    <title>FoodiesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'layouts/navbar' %>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <%= yield %>
  </body>
  
</html>
